<h1 class="center" style="margin-top: 20%;">Crazy Tower</h1>
<div class="center" style="flex-direction: column; margin-top: 10%;">
  <div>Current Highscores</div>
  <ol>
    <li>SlickRick</li>
    <li>BrennanDee</li>
    <li>LBransen</li>
  </ol>
</div>
<div style="margin-top: 10%;">
  <div class="center">
    <button mat-raised-button routerLink="/registration">Play</button>
  </div>
  <div class="center" style="margin-top: 5%;">
    <button mat-raised-button routerLink="/highscores">Highscores</button>
  </div>
</div>
