form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
  max-width: 500px;
}

.checkboxFormControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxFormControl {
  margin-top: 25px;
  margin-bottom: 20%;
}
